<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary pt-2 pb-2">
        <div class="container justify-content-start">
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobile-navbar" aria-controls="mobile-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ '/favicon-32x32.png' | prepend: site.baseurl }}" alt="" width="28" height="28" class="d-inline-block align-middle">
                <span class="d-inline-block align-middle">{{ site.title }}</span>
            </a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/blog/category/trabalhos/">Trabalhos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://lattes.cnpq.br/2162371468280338">Currículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-none d-lg-inline-block" id="navbar-search-button" data-bs-toggle="offcanvas" data-bs-target="#collapsible-search" aria-controls="collapsible-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div><!--#navbarCollapse-->
        </div><!--.container-->
    </nav>
</header>
