<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary pt-2 pb-2">
        <div class="container justify-content-start">
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobile-navbar" aria-controls="mobile-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ '/assets/favicons/favicon.svg' | prepend: site.baseurl }}" alt="" width="28" height="28" class="d-inline-block align-middle">
                <span class="d-inline-block align-middle">{{ site.title }}</span>
            </a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    {% if site.navigation %}
                        {% for link in site.navigation %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for page in site.pages %}
                            {% if page.title and page.autogen == nil %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link d-none d-lg-inline-block" id="navbar-search-button" data-bs-toggle="offcanvas" data-bs-target="#collapsible-search" aria-controls="collapsible-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div><!--#navbarCollapse-->
        </div><!--.container-->
    </nav>
</header>
